[submodule "commissioning/tock"]
	path = commissioning/tock
	url = https://github.com/helena-project/tock
[submodule "commissioning/tock-nrf-serialization"]
	path = commissioning/tock-nrf-serialization
	url = https://github.com/helena-project/tock-nrf-serialization
