# Ignore list for Eagle, a PCB layout tool

# Backup files
*.s#?
*.b#?
*.l#?

# Compiled C files
*.o

# Eagle project file
eagle.epf

# Unneeded CAM file
*.gpi

*.info

*.eps
.DS_Store
*.lck
*.zip
*.job
